# zigbee2mqtt
/data

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build
dist

# misc
.DS_Store
src/*.env
src/*.env.local
src/*.env.development.local
src/*.env.test.local
src/*.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# don't publish docs yet
docs

# environment variables
.env
