@font-face {
  font-family: "Lilex Medium";
  src:
    url("font/lilex-medium-webfont.woff2") format("woff2"),
    url("font/lilex-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lilex Regular";
  src:
    url("font/lilex-regular-webfont.woff2") format("woff2"),
    url("font/lilex-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
